<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="https://github.com/nida-fatma"> Nida Fatma</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->