default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: <%= ENV['GITREPOFINDER_DEVELOPEMENT_DB'] %>
test:
  <<: *default
  database: <%= ENV['GITREPOFINDER_TEST_DB'] %>
production:
  <<: *default
  database: <%= ENV['GITREPOFINDER_PROD_DB'] %>
